 h1 {
     color: rgb(180, 1, 1);
     font: size 50px;
     margin-inline: 10px;
     margin-block: 10px;
     padding: 20px;
 }

 p {
     color: rgb(142, 201, 14);
     font-size: 60px;
     font-weight: bold;
 }

 #kep {
     width: 100%;
     border: 1px solid green
 }

 #gomb {
     background-color: green;
     padding: 10px 20px;
     margin: 15px;
     border-radius: 11px;
     border: 2px solid black;
     color: rgb(6, 4, 4);
     font-size: 16px;
     cursor: pointer;
 }
header > nav {
    padding: 20px;
    background-color: cadetblue;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
header nav ul li a{
    text-decoration: none;
    color: black;
}
body {margin: 0;}



 @media only screen and (max-width:768px) {
     body 
     
     
     
     {  background-color: crimson}
        
 }
